/* Home page styles */
.App{
  background: #000000;
}
.Home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
p{
  color: red;
  font-weight: bold; 
  margin: 0,3%, 0, 3%;
}
.bio {
  color: #00FF00; /* hacker's green color */
  font-size: 1.5rem; /* big text size */
  font-weight: bold; /* bold font */
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.link {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link a {
  display: inline-block;
  margin: 0 1rem;
  padding: 0.1rem;
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.link :hover {
  border-color: #ff0033;
  color: #ff0033;
  background-color: transparent;
  box-shadow: 0px 0px 10px #ff0033, 0px 0px 20px #ff0033, 0px 0px 30px #ff0033, 0px 0px 40px #ff0033, 0px 0px 70px #ff0033, 0px 0px 80px #ff0033, 0px 0px 100px #ff0033;
  transition: all 0.5s ease-in-out;
}

.link :hover:before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  border: 2px solid #ff0033;
  border-radius: 10px;
  z-index: -1;
  transition: all 0.5s ease-in-out;
}

.link :hover:after {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  border: 2px solid #ff0033;
  border-radius: 10px;
  z-index: -2;
  filter: blur(30px);
}

.link :hover span {
  position: absolute;
  display: block;
  color: #ff0033;
  text-shadow: 0px 0px 10px #ff0033, 0px 0px 20px #ff0033, 0px 0px 30px #ff0033, 0px 0px 40px #ff0033, 0px 0px 70px #ff0033, 0px 0px 80px #ff0033, 0px 0px 100px #ff0033;
}
@media screen and (max-width: 768px) {
  h1{
    font-size: 2.6rem;
  }
  .hero .hero-title {
  font-size: 2.3rem;
  }
  
  .hero .hero-subtitle {
  font-size: 2rem;
  }
  
  .link {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .link a {
    margin: 0.5rem;
    font-size: 1rem;
  }
  
  }